@charset "utf-8";
/*Section containing address, contact number and email*/

#locationandcontact {
    margin-top: 10px;
}

#locationandcontact>div>h1 {
    margin-bottom: 15px;
}

/*Map*/

iframe {
    width: 100%;
    height: 300px;
}

/*Partner icons*/

.iconandtext {
    text-align: center;
}

.iconandtext>i {
    margin: auto;
}

#mediumiconandtext>i {
    margin-top: 30px;
}

/*carousel*/

.carousel {
    height: 100%;
}